<%- include layouts/cabecera.ejs %> 
<br/>
<br/>
<title>Consultorio Pediátrico</title>
<br/>
    <h1> Bienvenido al Consultorio Pediátrico</h1>

    <% if(user) { %>
        <div class="profileInfo">
            <img src="<%= user.picture %>"/>
            <p class="name">
                <%= user.nickname.charAt(o).toUpperCase()+user.nickname.slice(1) %>
            </p>
        </div>
    <% } %>
<%- include layouts/pie.ejs %> 